{% extends 'core/base.html'%}

{% block title %}Comproagro{% endblock %}
{%block activeNavbarComproAgro%}active{% endblock %}


{% block header %}
{% load static %}
<header class="header header-inverse h-fullscreen pb-80"
    style="background-image: url({% static 'core/assets/img/agro.jpg'%});">
    <div class="container text-center">

        <div class="row h-full">
            <div class="col-12 col-lg-8 offset-lg-2 align-self-center">

                <h1 class="fs-50 fw-600 lh-15 hidden-sm-down">Centro de Negocios Verdes <span class="text-primary"
                        data-type="Compra directamente, a los mejores productores de Nariño, 
                    apoyados por el SENA"></span></h1>
                <h1 class="fs-35 fw-600 lh-15 hidden-md-up">Centro de Negocios Verdes <br><span class="text-primary"
                        data-type="Compra directamente, a los mejores productores de Nariño, 
                    apoyados por el SENA"></span></h1>
                <br>
                <hr class="w-80">
            </div>

            <div class="col-12 align-self-end text-center">
                <a class="scroll-down-1 scroll-down-inverse" href="#main-content"
                    data-scrollto="main-content"><span></span></a>
            </div>

        </div>

    </div>
</header>
{% endblock %}


{% block mainContainer %}
{% load static %}
<!-- Main container -->
<main class="main-content">
    <section class="section bg-gray">

        <div class="container">

            <div class="card mb-30">
                {% for project in projects %}
                <div class="row align-items-center h-full" data-aos="fade-up" data-aos-delay="150">
                    <div class="col-12 col-md-4">
                        <img src="{{project.image1.url}}" alt="...">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="{{project.image2.url}}" alt="...">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="{{project.image3.url}}" alt="...">
                    </div>
                </div>
                <div class="row align-items-center h-full" data-aos="fade-up" data-aos-delay="150">
                    <div class="col-12 col-md-4">
                        <p class="card-text">Teléfono: {{project.phone}}</p>
                        <p class="card-text">Email: {{project.email}}</p>
                        <p class="card-text">Dirección: {{project.address}}</p>
                        <a href="{{project.technic_field.url}}">Ficha Técnica</a>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="card-block">
                            <h4 class="card-title">{{project.title}}</h4>
                            <p class="card-text">{{project.description|linebreaks}}</p>

                        </div>
                    </div>

                </div>
                <br>
                {% endfor %}
            </div>
            <br></br>
            <div class="container">
                <h6 class="heading-alt"> <i>Por favor comparte, suscribete, visita nuestras Redes Sociales, dale Me
                        Gusta y
                        Comenta, así nos apoyas para continuar generando contenido.</i>
                    </i>
                    <div class="container">




</main>
{% endblock %}