{% extends 'core/base.html' %}
{% block title %}CODERC - Blog{% endblock %}

{%block activeNavbarBlog%}active{% endblock %}


{% block header %}
<!-- Header -->
<header class="header fadeout header-inverse pb-0 h-"
  style="background-image: linear-gradient(to bottom, #050613 70%, #AA871E 100%);">
  <canvas class="constellation"></canvas>

  <div class="container">
    <div class="row h-full">
      <div class="col-12 text-center align-self-center">
        <h1 class="fs-50 fw-600 lh-15 hidden-sm-down">¿Quieres ejecutar un Proyecto? <span class="text-primary"
            data-type="Leer es la clave, los líderes leen, 10 veces más, que el promedio"></span></h1>
        <h1 class="fs-35 fw-600 lh-15 hidden-md-up">¿Quieres ejecutar un Proyecto? <br><span class="text-primary"
            data-type="Leer es la clave, los líderes leen, 10 veces más, que el promedio"></span></h1>
        <br>
        <p class="fs-20 hidden-sm-down">
          <font size="5"><strong><i>Te compartimos </i></strong><i>las claves para la productividad y competitividad de
              tu comunidad...</i></font>
        </p>
        <p class="fs-16 hidden-md-up">
          <font size="5"><strong><i>Te compartimos </i></strong><i>las claves para la productividad y competitividad de
              tu comunidad...</i></font>
        </p>
        <br>
        <hr class="w-60 hidden-sm-down">


        <p class="mt-2 mt-md-4">
          <font size="5"><i>"Los problemas que tienes ahora, alguien ya los resolvió antes, y escribió para ti"...</i>
          </font></a>
        </p>
      </div>

      <div class="col-12 align-self-end text-center pb-70">
        <a class="scroll-down-2 scroll-down-inverse" href="#" data-scrollto="section-demo"><span></span></a>
      </div>
    </div>
  </div>
</header>
<!-- END Header -->
{% endblock %}

{% block mainContainer %}
{% load static %}
<!-- Main container -->
<main class="main-content">

  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Basic cards
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
  <section class="section bg-gray">
    <div class="container">

      <div class="card mb-30">
        {% for blog in blogs %}
        <div class="row align-items-center h-full" data-aos="fade-up" data-aos-delay="150">
          <div class="row align-items-center h-full">
            <div class="col-12 col-md-4">
              <a href="blog4.html"><img src="{{blog.image.url}}" alt="..."></a>
            </div>
            <div class="col-12 col-md-8">
              <div class="card-block">
                <h4 class="card-title">{{blog.title}}</h4>
                <p class="card-text">{{blog.description|linebreaks}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
      <br></br>
      <div class="container">
        <h6 class="heading-alt"> <i>Por favor comparte, suscribete, visita nuestras Redes Sociales, dale Me Gusta y
            Comenta, así nos apoyas para continuar generando contenido.</i>
          </i>
      </div>




</main>
<!-- END Main container -->
<hr>
<div class="container">
  <h1>Comentarios:</h1>

</div>
<div class="row align-items-center h-full" data-aos="fade-up" data-aos-delay="100">
  <div class="container">
    <div class="card">
      <form method="POST"> {% csrf_token %}
        <input class="form-control" type="text" name="author" maxlength="200" required id="id_author"
          placeholder="Nombre" /><br>
        <textarea class="form-control rounded-0" name="text" cols="40" rows="3" required id="id_text"
          placeholder="Comentario"></textarea><br>
        <input class="form-control" type="text" name="email" maxlength="200" required id="id_email"
          placeholder="Correo" /><br>
        <button type="submit" class="btn btn-primary " value="Enviar">Enviar</button>
      </form>
    </div>
  </div>
</div>
<br>


{% for comment in comments %}
<div class="container">
  <div class="card mb-30">
    <div class="row align-items-center h-full" data-aos="fade-up" data-aos-delay="100">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <strong>{{ comment.author }}</strong>
            <div class="date">{{ comment.created_date }}</div>
            <p>{{ comment.text|linebreaks }}</p>
          </div>
        </div>
      </div>
      <hr>
      {% empty %}
      <p>Sé el primero en comentar!</p>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}