<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CODERC - Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría,
    formulación, evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles.">
    <meta name="keywords" content="CODERC - Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría,
    formulación, evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles.">

    <title>{% block title%}{% endblock%}</title>
    {% load static %}
    <!-- Styles -->
    <link href="{% static 'core/assets/css/core.min.css'%}" rel="stylesheet">
    <link href="{% static 'core/assets/css/thesaas.min.css'%}" rel="stylesheet">
    <link href="{% static 'core/assets/css/style.css'%}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static 'core/assets/img/apple-touch-icon.png'%}">
    <link rel="icon" href="{% static 'core/assets/img/favicon.png'%}">

    <!--  Open Graph Tags -->
    <meta property="og:title" content="coderc">
    <meta property="og:description"
        content="Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría, formulación, evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles">
    <meta property="og:image" content="http://coderc.org/src/assets/img/og-img.jpg">
    <meta property="og:url" content="http://coderc.org">
    <meta name="twitter:card" content="summary_large_image">
</head>

<body>


    <!-- Topbar -->
    <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
        <div class="container">

            <div class="topbar-left">
                <button class="topbar-toggler">&#9776;</button>
                <a class="topbar-brand" href="{% url 'home' %}">
                    <img class="logo-default" src="{% static 'core/assets/img/logo.png'%}" alt="logo">
                    <img class="logo-inverse" src="{% static 'core/assets/img/logo-md.png'%}" alt="logo">
                </a>
            </div>


            <div class="topbar-right">
                <ul class="topbar-nav nav">
                    <li class="nav-item"><a class="nav-link {%block activeNavbarHome%}{% endblock %}" href="{% url 'home' %}">Inicio</a></li>

                    <li class="nav-item">
                        <a class="nav-link {%block activeNavbarService%}{% endblock %}" href="#">Servicios <i class="fa fa-caret-down"></i></a>
                        <div class="nav-submenu">
                            <a class="nav-link " href="{% url 'asesoria' %}">Asesoria</a>
                            <a class="nav-link" href="{% url 'capacitacion' %}">Capacitación</a>
                        </div>
                    </li>
                    <!-- Topbar
            <li class="nav-item">
              <a class="nav-link" href="#">Blocks <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu cols-2">
                <a class="nav-link" href="block-feature.html">Feature</a>
                <a class="nav-link" href="block-feature-textual.html">Textual feature</a>
                <a class="nav-link" href="block-content.html">Contenidos</a>
                <a class="nav-link" href="block-portfolio.html">Portafolios</a>
                <a class="nav-link" href="block-pricing.html">Precios</a>
                <a class="nav-link" href="block-cta.html">Call to action</a>
                <a class="nav-link" href="block-testimonial.html">Testimonios</a>
                <a class="nav-link" href="block-team.html">Equipo</a>
                <a class="nav-link" href="block-contact.html">Contactos</a>
                <a class="nav-link" href="block-signup.html">Registro</a>
                <a class="nav-link" href="block-subscribe.html">Subscribe</a>
                <a class="nav-link" href="block-partner.html">Afiliados</a>
                <a class="nav-link" href="block-topbar.html">Topbar</a>
                <a class="nav-link" href="block-footer.html">Footer</a>
              </div>
            </li>
-->
                    <li class="nav-item">
                        <a class="nav-link {%block activeNavbarBlog%}{% endblock %}" href="{% url 'blog' %}">Blog</a>
                    <li class="nav-item">
                        <a class="nav-link {%block activeNavbarAbout%}{% endblock %}" href="{% url 'about' %}">CODERC</a>
                    <li class="nav-item">
                        <a class="nav-link {%block activeNavbarComproAgro%}{% endblock %}" href="{% url 'comproagro' %}">COMPROAGRO</a>
                    <li class="nav-item">
                        <a class="nav-link {%block activeNavbarContact%}{% endblock %}" href="{% url 'contacto' %}">Contáctanos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Equipo CODERC <i class="fa fa-caret-down"></i></a>
                        <div class="nav-submenu">
                            <!-- <a class="nav-link" href="http://srv34.servidorhosting.net:2095/cpsess3065076142/webmail/paper_lantern/index.html?mailclient=horde">Ingresar</a> -->
                            <a class="nav-link" href="/admin">Ingresar</a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- END Topbar -->

    {% block header %}{% endblock %}



    {% block mainContainer %}{% endblock %}


    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Footer
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <footer class="site-footer py-90">
        <div class="container">
            <div class="row gap-y">
                <div class="col-12 col-md-12 col-lg-5">
                    <h6 class="heading-alt text-uppercase fs-14 mb-16">
                        <img src="{% static 'core/assets/img/logo2.png'%}" alt="logo">
                    </h6>
                    <p class="fs-13">"Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de
                        Colombia, mediante la gestión, asesoría, formulación,
                        evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles"</p>
                    <br>
                    <p class="text-light">Desarrollo Web por D&A Soluciones tecnologicas<br>Copyright © 2019 <a
                            class="text-light" href="http://www.coderc.org">CODERC</a>. Derechos reservados.
                        <br>Téls. 317 7572971 - 312888 0391 - (032)7365516 - director@coderc.org <br>Centro de Negocios
                        Cristo Rey - Pasto / Nariño / Colombia</p>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <h6 class="heading-alt text-uppercase fs-14 mb-3">Sitio</h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                        <a class="nav-link" href="{% url 'asesoria' %}">Asesoría</a>
                        <a class="nav-link" href="{% url 'capacitacion' %}">Capacitación</a>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <h6 class="heading-alt text-uppercase fs-14 mb-3">Compañia</h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="{% url 'about' %}">CODERC</a>
                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                        <a class="nav-link" href="{% url 'contacto' %}">Contáctanos</a>
                        <a class="nav-link" href="page-privacy.html">Politica Privacidad</a>
                    </div>
                </div>


                <div class="col-12 col-md-4 col-lg-3">
                    <h6 class="heading-alt text-uppercase fs-14 mb-3">Suscribirme</h6>

                    <form class="form-inline justify-content-center justify-content-lg-end" action="" method="post"
                        target="_blank">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="text" name="EMAIL" class="form-control" placeholder="Correo Electronico">
                            <span class="input-group-btn">
                                <button class="btn btn-info"><i class="fa fa-paper-plane"></i></button>
                            </span>
                        </div>
                    </form>

                    <hr>

                    <div class="social text-center">
                        <a class="social-facebook" href="https://www.facebook.com/ISWOSAS/"><i
                                class="fa fa-facebook"></i></a>
                    </div>
                    <br>
                </div>

            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="{% static 'core/assets/js/core.min.js'%}"></script>
    <script src="{% static 'core/assets/js/thesaas.min.js'%}"></script>
    <script src="{% static 'core/assets/js/script.js'%}"></script>

</body>

<div class="btn-whatsapp">
    <a href="https://api.whatsapp.com/send?phone=573177572971" target="_blank">
        <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
    </a>
</div>

</html>