<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Gerente de Alto Rendimiento</title>

    <!-- Styles -->
    <link href="assets/css/core.min.css" rel="stylesheet">
    <link href="assets/css/thesaas.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.png">
  </head>

  <body>


    <!-- Topbar -->
    <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
      <div class="container">

        <div class="topbar-left">
          <button class="topbar-toggler">&#9776;</button>
          <a class="topbar-brand" href="index.html">
            <img class="logo-default" src="assets/img/logo.png" alt="logo">
            <img class="logo-inverse" src="assets/img/logo-md.png" alt="logo">
          </a>
        </div>


        <div class="topbar-right">
          <ul class="topbar-nav nav">
            <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>

            <li class="nav-item">
              <a class="nav-link" href="#">Servicios <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" href="asesoria.html">Asesoria</a>
                <a class="nav-link" href="capacitacion.html">Capacitación</a>
                </div>
            </li>
  <!-- Topbar
            <li class="nav-item">
              <a class="nav-link" href="#">Blocks <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu cols-2">
                <a class="nav-link" href="block-feature.html">Feature</a>
                <a class="nav-link" href="block-feature-textual.html">Textual feature</a>
                <a class="nav-link" href="block-content.html">Contenidos</a>
                <a class="nav-link" href="block-portfolio.html">Portafolios</a>
                <a class="nav-link" href="block-pricing.html">Precios</a>
                <a class="nav-link" href="block-cta.html">Call to action</a>
                <a class="nav-link" href="block-testimonial.html">Testimonios</a>
                <a class="nav-link" href="block-team.html">Equipo</a>
                <a class="nav-link" href="block-contact.html">Contactos</a>
                <a class="nav-link" href="block-signup.html">Registro</a>
                <a class="nav-link" href="block-subscribe.html">Subscribe</a>
                <a class="nav-link" href="block-partner.html">Afiliados</a>
                <a class="nav-link" href="block-topbar.html">Topbar</a>
                <a class="nav-link" href="block-footer.html">Footer</a>
              </div>
            </li>
  -->
            <li class="nav-item">
              <a class="nav-link active" href="blog.html">Blog</a>
              <li class="nav-item">
                <a class="nav-link" href="page-about.html">CODERC</a>

            <li class="nav-item">
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Equipo CODERC <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" href="http://srv34.servidorhosting.net:2095/cpsess3065076142/webmail/paper_lantern/index.html?mailclient=horde">Ingresar</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->




    <!-- Header -->
    <header class="header header-inverse h- pb-80" style="background-image: url(assets/img/gerente1.jpg);">
      <div class="container text-center">

        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">

            <h1>Tu puedes ser un Gerente de Alto Rendimiento...</h1>
            <p class="fs-20 opacity-70"><i><b>Sólo sigue estas 5 claves que por su efectividad, las usan los líderes empresariales a nivel mundial...</b></i></p>

          </div>
        </div>

      </div>
    </header>
    <!-- END Header -->




    <!-- Main container -->
    <main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Privacy text
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">


          <h6 class="heading-alt">1. Empieza Ganando</h6>
          <p>Cada mañana cumple pequeñas metas que te impulsen cumplir las grandes. Diseña y ejecuta tu propia “Mañana Milagrosa”, tiende tu cama, come fruta, toma agua, medita, haz ejercicio, visualiza tus metas como cumplidas, baña tu cuerpo con conciencia, eliminando todo lo malo de tu ser, expresa amor a tus familiares y llénate de energía para comerte el mundo.
          </p>
          </div>
          <div class="container">

      <h6 class="heading-alt">2. Nútrete para Ganar</h6>
      <p>Con frutas, agua y alimentos frescos; evitando lo que científicamente sabes que sólo le hace daño a tu cuerpo, como el azúcar, las harinas procesadas, la grasa saturada, el exceso de sal y los embutidos.
      </p>
      </div>
      <div class="container">

        <h6 class="heading-alt">3. Entrena con Disciplina y Estrategia</h6>
        <p>Rutinas innovadoras que te permitan alcanzar metas, y diferenciarte de tus competidores, a corto, mediano y largo plazo.
        </p>
        </div>
        <div class="container">

          <h6 class="heading-alt">4. Estudia</h6>
          <p>Especialmente libros, videos y toda la información que te inspire a crecer como empresario y como profesional. “El problema que tengas, alguien ya lo resolvió y además escribió un libro”.
          </p>
          </div>
          <div class="container">

            <h6 class="heading-alt">5. Arma tu Equipo Ganador</h6>
            <p>Rodéate de los mejores, aprende de ellos, haz que te valoren y crece junto a ellos. Elimina de tu radar a todas aquellas personas que sólo te bajan la energía o que hacen que te desenfoques de tus metas. Consigue también un Mentor, alguien que ya lo haya logrado te iluminará el camino.
            </p>
            </div>
            <div class="container">

              <h6 class="heading-alt">“Sigue estas claves con perseverancia y seguro que pronto te reconocerán como un Gerente de alto rendimiento”</h6>
              <p>
              </p>
              </div>
              <div class="container">


                  <h6 class="heading-alt">Autor: Frank Fajardo Romo. - Marzo-2019 - subgerencia@iswo.com.co.
                  <div class="container">
                    <p>
                    </p>
                    </div>
                    <br></br>

                                    <div class="container">
                          <h6 class="heading-alt"> <i>Por favor comparte, suscribete, visita nuestras Redes Sociales, dale Me Gusta y Comenta, así nos apoyas para continuar generando contenido.</i>
                          </i> <div class="container">
                  <br>
                  <div class="social social-boxed social-rounded social-gray">
                    <a class="social-facebook" href="https://www.facebook.com/frankfajardoromo/"><i class="fa fa-facebook"></i></a>
                    <a class="social-twitter" href="https://www.instagram.com/frankfajardoromo/"><i class="fa fa-instagram"></i></a>
                    <a class="social-twitter" href="https://twitter.com/FRANKFAJARDOR"><i class="fa fa-twitter"></i></a>
                    <a class="social-linkedin" href="https://co.linkedin.com/in/frankfajardoromo/en"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

                <br>
                <div class="container">
                  <h6 class="heading-alt"> <i>Te invito a conocer más soluciones para tu empresa, en mis publicaciones:</i>
                  </i> <div class="container"></p>
                           <a href="blog.html"><i> - Volver al Blog CODERC</i></a></p>
                           <a href="www.frankfr.com"><i> - Mi Web </p></i></a>
                           <a href="www.researchgate.net/profile/Frank_Fajardo_Romo"><i> - Research Gate / Comunidad Cientifica</i></a></p>
                           <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000054266"><i><p> - CvLac COLCIENCIAS</i></a></p>

                </main>
    <!-- END Main container -->

    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Footer
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <footer class="site-footer py-90">
      <div class="container">
        <div class="row gap-y">
          <div class="col-12 col-md-12 col-lg-5">
            <h6 class="heading-alt text-uppercase fs-14 mb-16">
              <img src="assets/img/logo2.png" alt="logo">
            </h6>
            <p class="fs-13">"Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría, formulación,
              evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles"</p>
            <br>
            <p class="text-light">Copyright © 2019 <a class="text-light" href="http://www.coderc.org">CODERC</a>. Derechos reservados.
            <br>Téls. 317 7572971 - 312888 0391 - (032)7365516 - director@coderc.org <br>Centro de Negocios Cristo Rey - Pasto / Nariño / Colombia</p>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Sitio</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="index.html">Inicio</a>
              <a class="nav-link" href="asesoria.html">Asesoría</a>
              <a class="nav-link" href="capacitacion.html">Capacitación</a>
            </div>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Compañia</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="page-about.html">CODERC</a>
              <a class="nav-link" href="blog.html">Blog</a>
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
              <a class="nav-link" href="page-privacy.html">Politica Privacidad</a>
            </div>
          </div>


          <div class="col-12 col-md-4 col-lg-3">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Suscribirme</h6>

            <form class="form-inline justify-content-center justify-content-lg-end" action="" method="post" target="_blank">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" name="EMAIL" class="form-control" placeholder="Correo Electronico">
                <span class="input-group-btn">
                  <button class="btn btn-info"><i class="fa fa-paper-plane"></i></button>
                </span>
              </div>
            </form>

            <hr>

            <div class="social text-center">
              <a class="social-facebook" href="https://www.facebook.com/ISWOSAS/"><i class="fa fa-facebook"></i></a>
            </div>
            <br>
          </div>

        </div>
      </div>
    </footer>
  </main>
  <!-- END Main container -->

    <!-- Scripts -->
    <script src="assets/js/core.min.js"></script>
    <script src="assets/js/thesaas.min.js"></script>
    <script src="assets/js/script.js"></script>

  </body>

  <div class="btn-whatsapp">
<a href="https://api.whatsapp.com/send?phone=573177572971" target="_blank">
<img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
</a>
</div>

</html>
