<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>CODERC - Política de privacidad</title>

    <!-- Styles -->
    <link href="assets/css/core.min.css" rel="stylesheet">
    <link href="assets/css/thesaas.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.png">
  </head>

  <body>


    <!-- Topbar -->
    <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
      <div class="container">

        <div class="topbar-left">
          <button class="topbar-toggler">&#9776;</button>
          <a class="topbar-brand" href="index.html">
            <img class="logo-default" src="assets/img/logo.png" alt="logo">
            <img class="logo-inverse" src="assets/img/logo-md.png" alt="logo">
          </a>
        </div>


        <div class="topbar-right">
          <ul class="topbar-nav nav">
            <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>

            <li class="nav-item">
              <a class="nav-link" href="#">Servicios <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" href="asesoria.html">Asesoria</a>
                <a class="nav-link" href="capacitacion.html">Capacitación</a>
                </div>
            </li>
  <!-- Topbar
            <li class="nav-item">
              <a class="nav-link" href="#">Blocks <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu cols-2">
                <a class="nav-link" href="block-feature.html">Feature</a>
                <a class="nav-link" href="block-feature-textual.html">Textual feature</a>
                <a class="nav-link" href="block-content.html">Contenidos</a>
                <a class="nav-link" href="block-portfolio.html">Portafolios</a>
                <a class="nav-link" href="block-pricing.html">Precios</a>
                <a class="nav-link" href="block-cta.html">Call to action</a>
                <a class="nav-link" href="block-testimonial.html">Testimonios</a>
                <a class="nav-link" href="block-team.html">Equipo</a>
                <a class="nav-link" href="block-contact.html">Contactos</a>
                <a class="nav-link" href="block-signup.html">Registro</a>
                <a class="nav-link" href="block-subscribe.html">Subscribe</a>
                <a class="nav-link" href="block-partner.html">Afiliados</a>
                <a class="nav-link" href="block-topbar.html">Topbar</a>
                <a class="nav-link" href="block-footer.html">Footer</a>
              </div>
            </li>
  -->
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
              <li class="nav-item">
                <a class="nav-link" href="page-about.html">CODERC</a>

            <li class="nav-item">
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Equipo CODERC <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" href="http://srv34.servidorhosting.net:2095/cpsess3065076142/webmail/paper_lantern/index.html?mailclient=horde">Ingresar</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->




    <!-- Header -->
    <header class="header header-inverse" style="background-color: #041129;">
      <div class="container text-center">

        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">

            <h1>Política de Privacidad</h1>
            <p class="fs-20 opacity-70">Última actualizacion: Abril 7, 2019</p>

          </div>
        </div>

      </div>
    </header>
    <!-- END Header -->




    <!-- Main container -->
    <main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Privacy text
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">


          <h6 class="heading-alt">Información General</h6>
          <p>Recopilamos las direcciones de correo electrónico de quienes se comunican con nosotros por e-mail, información agregada sobre a qué páginas acceden o visitan los consumidores, e información voluntaria (por ejemplo, información de encuestas y / o registros de sitios). La información que recopilamos se utiliza para mejorar el contenido de nuestras páginas web y la calidad de nuestro servicio, y no se comparte ni se vende a otras organizaciones con fines comerciales, excepto para proporcionar productos o servicios que haya solicitado, cuando tengamos su permiso, o bajo las siguientes circunstancias:</p>

          <ul>
            <li>Es necesario compartir información para investigar, prevenir o tomar medidas con respecto a actividades ilegales, sospecha de fraude, situaciones que involucren amenazas potenciales a la seguridad física de cualquier persona, violaciones de los Términos del Servicio, o según lo requiera la ley.</li>
            <li>Transferimos información sobre usted, si CODERC es adquirida o fusionada con otra compañía. En este caso, CODERC le notificará antes de que la información sobre usted sea transferida y quedará sujeta a una política de privacidad diferente.</li>
          </ul>



          <br>
          <h6 class="heading-alt">Recopilación y uso de información</h6>
          <ul>
            <li>Cuando se registra para <p class="fs-13">"Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría, formulación,
              evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles"</p>
            <br>
            <p class="text-light">Copyright © 2019 <a class="text-light" href="http://www.coderc.org">CODERC</a>. Derechos reservados.
            <br>Téls. 317 7572971 - 312888 0391 - (032)7365516 - director@coderc.org <br>Centro de Negocios Cristo Rey - Pasto / Nariño / Colombia</p>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Sitio</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="index.html">Inicio</a>
              <a class="nav-link" href="asesoria.html">Asesoría</a>
              <a class="nav-link" href="capacitacion.html">Capacitación</a>
            </div>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Compañia</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="page-about.html">CODERC</a>
              <a class="nav-link" href="blog.html">Blog</a>
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
              <a class="nav-link" href="page-privacy.html">Politica Privacidad</a>
            </div>
          </div>


          <div class="col-12 col-md-4 col-lg-3">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Suscribirme</h6>

            <form class="form-inline justify-content-center justify-content-lg-end" action="" method="post" target="_blank">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" name="EMAIL" class="form-control" placeholder="Correo Electronico">
                <span class="input-group-btn">
                  <button class="btn btn-info"><i class="fa fa-paper-plane"></i></button>
                </span>
              </div>
            </form>

            <hr>

            <div class="social text-center">
              <a class="social-facebook" href="https://www.facebook.com/ISWOSAS/"><i class="fa fa-facebook"></i></a>
            </div>
            <br>
          </div>

        </div>
      </div>
    </footer>
  </main>
  <!-- END Main container -->

    <!-- Scripts -->
    <script src="assets/js/core.min.js"></script>
    <script src="assets/js/thesaas.min.js"></script>
    <script src="assets/js/script.js"></script>

  </body>

  <div class="btn-whatsapp">
<a href="https://api.whatsapp.com/send?phone=573177572971" target="_blank">
<img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
</a>
</div>

</html>
<p class="fs-13">"Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría, formulación,
  evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles"</p>
<br>
<p class="text-light">Copyright © 2019 <a class="text-light" href="http://www.coderc.org">CODERC</a>. Derechos reservados.
<br>Téls. 317 7572971 - 312888 0391 - (032)7365516 - director@coderc.org <br>Centro de Negocios Cristo Rey - Pasto / Nariño / Colombia</p>
</div>

<div class="col-6 col-md-4 col-lg-2">
<h6 class="heading-alt text-uppercase fs-14 mb-3">Sitio</h6>
<div class="nav flex-column">
  <a class="nav-link" href="index.html">Inicio</a>
  <a class="nav-link" href="asesoria.html">Asesoría</a>
  <a class="nav-link" href="capacitacion.html">Capacitación</a>
</div>
</div>

<div class="col-6 col-md-4 col-lg-2">
<h6 class="heading-alt text-uppercase fs-14 mb-3">Compañia</h6>
<div class="nav flex-column">
  <a class="nav-link" href="page-about.html">CODERC</a>
  <a class="nav-link" href="blog.html">Blog</a>
  <a class="nav-link" href="page-contact.html">Contáctanos</a>
  <a class="nav-link" href="page-privacy.html">Politica Privacidad</a>
</div>
</div>


<div class="col-12 col-md-4 col-lg-3">
<h6 class="heading-alt text-uppercase fs-14 mb-3">Suscribirme</h6>

<form class="form-inline justify-content-center justify-content-lg-end" action="" method="post" target="_blank">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <input type="text" name="EMAIL" class="form-control" placeholder="Correo Electronico">
    <span class="input-group-btn">
      <button class="btn btn-info"><i class="fa fa-paper-plane"></i></button>
    </span>
  </div>
</form>

<hr>

<div class="social text-center">
  <a class="social-facebook" href="https://www.facebook.com/ISWOSAS/"><i class="fa fa-facebook"></i></a>
</div>
<br>
</div>

</div>
</div>
</footer>
</main>
<!-- END Main container -->

<!-- Scripts -->
<script src="assets/js/core.min.js"></script>
<script src="assets/js/thesaas.min.js"></script>
<script src="assets/js/script.js"></script>

</body>

<div class="btn-whatsapp">
<a href="https://api.whatsapp.com/send?phone=573177572971" target="_blank">
<img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
</a>
</div>

</html>
CODERC, le solicitamos información como su nombre, dirección de correo electrónico, dirección de facturación e información de su tarjeta de crédito. Los miembros que se registran para la cuenta gratuita no están obligados a ingresar una tarjeta de crédito.</li>
            <li>CODERC usa información recopilada para los siguientes propósitos generales: provisión de productos y servicios, facturación, identificación y autenticación, mejora de servicios, contacto e investigación.</li>
          </ul>



          <br>
          <h6 class="heading-alt">Cookies</h6>
          <ul>
            <li>Una cookie es una pequeña cantidad de datos, que a menudo incluye un identificador único anónimo, que se envía a su navegador desde las computadoras de un sitio web y se almacena en el disco duro de su computadora.</li>
            <li>Se requieren cookies para usar el sitio web de CODERC.</li>
            <li>Usamos cookies para registrar la información de la sesión actual, pero no usamos cookies permanentes. Debe volver a iniciar sesión en su cuenta de CODERC después de que haya transcurrido un cierto período de tiempo para protegerlo de que otros accedan accidentalmente al contenido de su cuenta.</li>
          </ul>



          <br>
          <h6 class="heading-alt">Almacenamiento de datos</h6>
          <p>CODERC utiliza proveedores de terceros y socios de alojamiento para proporcionar el hardware, el software, las redes, el almacenamiento y la tecnología relacionada necesarios para ejecutar web de CODERC. Aunque CODERC posee el código, las bases de datos y todos los derechos de la aplicación CODERC, usted conserva todos los derechos sobre sus datos.</p>





          <br>
          <h6 class="heading-alt">Divulgación</h6>
          <p>CODERC puede divulgar información de identificación personal bajo circunstancias especiales, como para cumplir con citaciones o cuando sus acciones violan los Términos del Servicio.</p>




          <br>
          <h6 class="heading-alt">Cambios</h6>
          <p>CODERC puede actualizar periódicamente esta política. Le notificaremos acerca de los cambios significativos en la forma en que tratamos la información personal mediante el envío de un aviso a la dirección de correo electrónico principal especificada en su cuenta titular de cuenta principal de CODERC o mediante la colocación de un aviso destacado en nuestro sitio. Dicha notificación se dará con al menos 3 días de anticipación a la fecha en que se aplicará la nueva política.</p>




          <br>
          <h6 class="heading-alt">Preguntas</h6>
          <p>Cualquier pregunta sobre esta Política de privacidad debe dirigirse a director@coderc.org</p>


        </div>
      </section>






    </main>
    <!-- END Main container -->






    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Footer
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <footer class="site-footer py-90">
      <div class="container">
        <div class="row gap-y">
          <div class="col-12 col-md-12 col-lg-5">
            <h6 class="heading-alt text-uppercase fs-14 mb-16">
              <img src="assets/img/logo2.png" alt="logo">
            </h6>
            <p class="fs-13">"Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría, formulación,
              evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles"</p>
            <br>
            <p class="text-light">Copyright © 2019 <a class="text-light" href="http://www.coderc.org">CODERC</a>. Derechos reservados.
            <br>Téls. 317 7572971 - 312888 0391 - (032)7365516 - director@coderc.org <br>Centro de Negocios Cristo Rey - Pasto / Nariño / Colombia</p>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Sitio</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="index.html">Inicio</a>
              <a class="nav-link" href="asesoria.html">Asesoría</a>
              <a class="nav-link" href="capacitacion.html">Capacitación</a>
            </div>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Compañia</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="page-about.html">CODERC</a>
              <a class="nav-link" href="blog.html">Blog</a>
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
              <a class="nav-link" href="page-privacy.html">Politica Privacidad</a>
            </div>
          </div>


          <div class="col-12 col-md-4 col-lg-3">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Suscribirme</h6>

            <form class="form-inline justify-content-center justify-content-lg-end" action="" method="post" target="_blank">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" name="EMAIL" class="form-control" placeholder="Correo Electronico">
                <span class="input-group-btn">
                  <button class="btn btn-info"><i class="fa fa-paper-plane"></i></button>
                </span>
              </div>
            </form>

            <hr>

            <div class="social text-center">
              <a class="social-facebook" href="https://www.facebook.com/ISWOSAS/"><i class="fa fa-facebook"></i></a>
            </div>
            <br>
          </div>

        </div>
      </div>
    </footer>
  </main>
  <!-- END Main container -->

    <!-- Scripts -->
    <script src="assets/js/core.min.js"></script>
    <script src="assets/js/thesaas.min.js"></script>
    <script src="assets/js/script.js"></script>

  </body>

  <div class="btn-whatsapp">
<a href="https://api.whatsapp.com/send?phone=573177572971" target="_blank">
<img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
</a>
</div>

</html>
