{% extends 'core/base.html' %}

{% block title %}CODERC - “Corporación para el Desarrollo Empresarial y Regional de Colombia”{% endblock %}

{% block header %}
{% load static %}
<!-- Header -->
<header class="header header-inverse h-fullscreen pb-80"
  style="background-image: url({% static 'core/assets/img/bg-capacitacion.jpg'%});">
  <div class="container text-center">

    <div class="row h-full">
      <div class="col-12 col-lg-8 offset-lg-2 align-self-center">

        <h1 class="display-1 hidden-sm-down">Asesoría</h1>
        <h1 class="fs-40 hidden-md-up">Asesoría</h1>
        <p class="fs-20 w-600 mx-auto hidden-sm-down"><b><i>Para mejorar la calidad de vida de familias en condición de
              vulnerabilidad, con criterios de economía solidaria y comercio justo.<b><i></p>
        <p class="fs-16 hidden-md-up">Para mejorar la calidad de vida de familias en condición de vulnerabilidad, con
          criterios de economía solidaria y comercio justo.</p>

        <hr class="w-80">

        <a class="btn btn-xl btn-round btn-white w-300 mr-12 hidden-sm-down"
          href="http://iswo.com.co/capacitacion/">Formación Virtual</a>
        <a class="btn btn-lg btn-round btn-white w-250 hidden-md-up" href="http://iswo.com.co/capacitacion/">Formación
          Virtual</a>
      </div>

      <div class="col-12 align-self-end text-center">
        <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-intro"><span></span></a>
      </div>

    </div>

  </div>
</header>
<!-- END Header -->
{% endblock %}

{% block mainContainer %}
<!-- Main container -->
<main class="main-content">




  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Features
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
  <section class="section bg-gray" id="section-features">
    <div class="container">
      <header class="section-header">
        <small>Servicios</small>
        <h2>Soluciones para tu Comunidad</h2>
        <hr>
        <p class="lead">Nuestro compromiso es impulsar el bienestar de tu comunidad.</p>
      </header>


      <div class="row gap-5">


        <div class="col-12 col-md-4">
          <ul class="nav nav-vertical">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tab-1">
                <h6>Capacitación</h6>
                <p>Asesoría, consultoría, formulación, gestión, ejecución y evaluación de proyectos y planes de negocio,
                  que impulsen el desarrollo social,
                  tecnológico, ambiental, y cultural de Colombia. </p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-2">
                <h6>Etapas y Estudios en los que te podemos asesorar:</h6>
                <p>
                  <ul><b>
                      <li>Investigación de mercados.</li>
                      <li>Planes Estratégicos de Mercadeo.</li>
                      <li>Estudios Técnicos e Ingeniería de proyectos.</li>
                      <li>Aspectos administrativos y legales.</li>
                      <li>Estudios y evaluación financiera.</li>
                      <li>Gestión de Calidad y Seguridad y Salud en el Trabajo.</li>
                  </ul></b>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-3">
                <h6>investigación</h6>
                <p>Desarrollamos de investigaciones útiles, confiables y de manera ágil, con la participación de la
                  comunidad y el liderazgo de personal altamente calificado en las diferentes áreas del conocimiento y
                  experiencia en investigación registrados ante COLCIENCIAS.</p>
              </a>
            </li>
          </ul>
        </div>


        <div class="col-12 col-md-8 align-self-center">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-1">
              <img class="shadow-3" src="{% static 'core/assets/img/demo/skype/asesoria.jpg'%}" alt="...">
            </div>

            <div class="tab-pane fade" id="tab-2">
              <img class="shadow-3" src="{% static 'core/assets/img/demo/skype/BRC.jpg'%}" alt="...">
            </div>

            <div class="tab-pane fade" id="tab-3">
              <img class="shadow-3" src="{% static 'core/assets/img/demo/skype/Inv.jpg'%}" alt="...">
            </div>

            <div class="tab-pane fade" id="tab-4">
              <img class="shadow-3" src="{% static 'core/assets/img/demo/skype/tab-2.jpg'%}" alt="...">
            </div>

          </div>
        </div>


      </div>


      <div class="text-center mt-50">
        <a class="btn btn-lg btn-primary" href="page-contact.html">Descubre Nuestros Servicios</a>
      </div>


    </div>
  </section>








  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Worldwide Adoption
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
  <section class="section pb-0 overflow-hidden hidden-sm-down">
    <div class="container">
      <header class="section-header">
        <small><strong>Estadisticas CODERC</strong></small>
        <h2>Experiencia a tu servicio</h2>
        <hr>
        <p class="lead">Nuestra metodología por proyectos, enfocada la comunidad y en la mejora continua, nos ha
          permitido acumular experiencias exitosas
          y clientes satisfechos durante más de 15 años.</p>
      </header>

      <div class="row gap-y text-center">

        <div class="col-md-4 d-flex flex-column">
          <div class="mb-60">
            <p class="text-info fs-50 mb-0">10.000+</p>
            <p>Personas Capacitadas</p>
          </div>
          <div class="px-20 mt-auto">
            <img class="shadow-4 opacity-80" src="{% static 'core/assets/img/demo/skype/Esp1.jpg'%}" alt="..."
              data-aos="slide-up" data-aos-delay="300">
          </div>
        </div>

        <div class="col-md-4 d-flex flex-column">
          <div class="mb-7">
            <span class="text-info fs-50">100+</span><br>
            <p>Proyectos</p>
          </div>
          <div class="mt-auto">
            <img class="shadow-6" src="{% static 'core/assets/img/demo/skype/luis.jpg'%}" alt="..." data-aos="slide-up">
          </div>
        </div>

        <div class="col-md-4 d-flex flex-column">
          <div class="mb-7">
            <span class="text-info fs-50">100%</span><br>
            <p>Clientes Satisfechos</p>
          </div>
          <div class="px-20 mt-auto">
            <img class="shadow-4 opacity-80" src="{% static 'core/assets/img/demo/skype/Inv2.jpg'%}" alt="..."
              data-aos="slide-up" data-aos-delay="600">
          </div>
        </div>

      </div>

    </div>
  </section>







  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Download Now
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
  <section class="section section-inverse" id="section-download"
    style="background-image: linear-gradient(to right, #0D3A7B 0%, #4689E8 100%);">
    <div class="container-fluid">
      <header class="section-header">
        <small><strong>Tu y tu comunidad LO MERECEN</strong></small>
        <h2 class="fs-45">Contáctanos</h2>
        <hr>
        <p class="lead">Nuestro COMPROMISO es APOYARTE.</p>
      </header>

      <p class="text-center">
        <a class="btn btn-lg btn-primary w-250" href="page-contact.html">Contáctanos</a><br>
        <!--      <small><a class="text-white" href="#">or download <span class="mark-border">Browser Extension</span></a></small>!-->
      </p>
    </div>
  </section>


  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Footer
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
  <footer class="site-footer py-90">
    <div class="container">
      <div class="row gap-y">
        <div class="col-12 col-md-12 col-lg-5">
          <h6 class="heading-alt text-uppercase fs-14 mb-16">
            <img src="{% static 'core/assets/img/logo2.png'%}" alt="logo">
          </h6>
          <p class="fs-13">"Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia,
            mediante la gestión, asesoría, formulación,
            evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles"</p>
          <br>
          <p class="text-light">Copyright © 2019 <a class="text-light" href="http://www.coderc.org">CODERC</a>. Derechos
            reservados.
            <br>Téls. 317 7572971 - 312888 0391 - (032)7365516 - director@coderc.org <br>Centro de Negocios Cristo Rey -
            Pasto / Nariño / Colombia</p>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
          <h6 class="heading-alt text-uppercase fs-14 mb-3">Sitio</h6>
          <div class="nav flex-column">
            <a class="nav-link" href="index.html">Inicio</a>
            <a class="nav-link" href="asesoria.html">Asesoría</a>
            <a class="nav-link" href="capacitacion.html">Capacitación</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
          <h6 class="heading-alt text-uppercase fs-14 mb-3">Compañia</h6>
          <div class="nav flex-column">
            <a class="nav-link" href="page-about.html">CODERC</a>
            <a class="nav-link" href="blog.html">Blog</a>
            <a class="nav-link" href="page-contact.html">Contáctanos</a>
            <a class="nav-link" href="page-privacy.html">Politica Privacidad</a>
          </div>
        </div>


        <div class="col-12 col-md-4 col-lg-3">
          <h6 class="heading-alt text-uppercase fs-14 mb-3">Suscribirme</h6>

          <form class="form-inline justify-content-center justify-content-lg-end" action="" method="post"
            target="_blank">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="text" name="EMAIL" class="form-control" placeholder="Correo Electronico">
              <span class="input-group-btn">
                <button class="btn btn-info"><i class="fa fa-paper-plane"></i></button>
              </span>
            </div>
          </form>

          <hr>

          <div class="social text-center">
            <a class="social-facebook" href="https://www.facebook.com/ISWOSAS/"><i class="fa fa-facebook"></i></a>
          </div>
          <br>
        </div>

      </div>
    </div>
  </footer>
</main>
<!-- END Main container -->
{% endblock %}