<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>¡ Olvidate de la Productividad !</title>

    <!-- Styles -->
    <link href="assets/css/core.min.css" rel="stylesheet">
    <link href="assets/css/thesaas.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.png">
  </head>

  <body>


    <!-- Topbar -->
    <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
      <div class="container">

        <div class="topbar-left">
          <button class="topbar-toggler">&#9776;</button>
          <a class="topbar-brand" href="index.html">
            <img class="logo-default" src="assets/img/logo.png" alt="logo">
            <img class="logo-inverse" src="assets/img/logo-md.png" alt="logo">
          </a>
        </div>


        <div class="topbar-right">
          <ul class="topbar-nav nav">
            <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>

            <li class="nav-item">
              <a class="nav-link" href="#">Servicios <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" href="asesoria.html">Asesoria</a>
                <a class="nav-link" href="capacitacion.html">Capacitación</a>
                </div>
            </li>
<!-- Topbar
            <li class="nav-item">
              <a class="nav-link" href="#">Blocks <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu cols-2">
                <a class="nav-link" href="block-feature.html">Feature</a>
                <a class="nav-link" href="block-feature-textual.html">Textual feature</a>
                <a class="nav-link" href="block-content.html">Contenidos</a>
                <a class="nav-link" href="block-portfolio.html">Portafolios</a>
                <a class="nav-link" href="block-pricing.html">Precios</a>
                <a class="nav-link" href="block-cta.html">Call to action</a>
                <a class="nav-link" href="block-testimonial.html">Testimonios</a>
                <a class="nav-link" href="block-team.html">Equipo</a>
                <a class="nav-link" href="block-contact.html">Contactos</a>
                <a class="nav-link" href="block-signup.html">Registro</a>
                <a class="nav-link" href="block-subscribe.html">Subscribe</a>
                <a class="nav-link" href="block-partner.html">Afiliados</a>
                <a class="nav-link" href="block-topbar.html">Topbar</a>
                <a class="nav-link" href="block-footer.html">Footer</a>
              </div>
            </li>
-->
            <li class="nav-item">
              <a class="nav-link active" href="blog.html">Blog</a>
              <li class="nav-item">
                <a class="nav-link" href="page-about.html">CODERC</a>

            <li class="nav-item">
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Equipo CODERC <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" href="http://srv34.servidorhosting.net:2095/cpsess3065076142/webmail/paper_lantern/index.html?mailclient=horde">Ingresar</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->




    <!-- Header -->
<header class="header header-inverse h- pb-80" style="background-image: url(assets/img/delegar.jpg);">
          <div class="container text-center">

        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">

            <h1>¡ Olvidate de la Productividad !</h1>
            <p class="fs-20 opacity-70"><i><b>En 10 pasos, avanza a la delegabilidad...</b></i></p>


    </header>
    <!-- END Header -->




    <!-- Main container -->
    <main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Privacy text
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">


          <h6 class="heading-alt">Cuando el Empresario habla de productividad piensa en su propio esfuerzo, los Empresarios no deben ser guerreros solitarios,
            pensar y aplicar el concepto de la delegabilidad permitirá que las personas desarrollen las mismas y quizá mejores habilidades.
      </h6> </p> </div> <div class="container">

      <h6 class="heading-alt">Al delegar puedes superar las crisis implícitas del crecimiento y avanzar a nuevos proyectos con bases firmes,
                así como reducir el nivel de estrés y enfocarte en actividades estratégicas más rentables</h6>
                </p> </div> <div class="container">

      <h6 class="heading-alt">Ahora mismo puedes medir la delegabilidad, contando el número de días que puedes tomar de vacaciones sin que tu empresa entre en caos,
        o mirando el número de líderes que están dirigiendo tu organización.</h6>
      </p> </div> <div class="container">

          <h6 class="heading-alt">La verdadera tarea de los Empresarios es delegar cargos, funciones, responsabilidades, procesos, clientes
             y todo lo que se requiera para que el equipo sea capaz de agregar valor a la organización de manera autónoma.</h6>
          </p> </div> <div class="container">

            <h6 class="heading-alt">Te compartimos 10 actividades fundamentales para delegar efectivamente:</h6>
            </p> </div> <div class="container">

           <ol><b>
              <li value="1">Formalizar y comunicar asertivamente las funciones y responsabilidades de cada cargo.</li>
              <li>Desplegar la planificación estratégica y la estructura organizacional de manera clara y efectiva.</li>
              <li>Definir e implementar procesos y procedimientos que orienten a los colaboradores.</li>
              <li>Vincular talento humano competente y comprometido.</li>
              <li>Ejecutar procesos de inducción, reinducción y capacitación suficientes. Las teorías recomiendan acompañar hasta lograr con éxito los objetivos.
                Como ejemplo se plantea abrir los primeros clientes con a los vendedores nuevos</li>
              <li>Crear Líderes que trabajen en equipo y coordinen la operación organizacional.</li>
              <li>Pagar salarios, comisiones e incentivos que impulsen la productividad y estabilidad de cada trabajador.</li>
              <li>Definir indicadores de seguimiento y metas para los procesos y cargos.</li>
              <li>Utilizar herramientas tecnológicas para automatizar, controlar y facilitar las labores a los trabajadores.</li>
              <li>Planificar, ejecutar, evaluar y mejorar el ejercicio de delegar.</li>
            </ol></b>

            <h6 class="heading-alt">Estas actividades que componen todo un proyecto, requieren de la inversión de tu energía, tiempo y recursos, para lograr el empoderamiento,
            la autonomía, la creatividad, la coordinación y la capacidad de autogestión y mejora del talento humano, los procesos y de tu empresa</h6>
            </p> </div> <div class="container">

              <h6 class="heading-alt">Para los "Autoempleados", delegar implica un alto esfuerzo sicológico y comunicativo, paciencia, abandonar el ego, dejar de pensar y decir "sólo yo puedo hacerlo bien",
                tener la humildad para pedir apoyo y reconocer justamente a las personas que te permitirán disponer de tu tiempo para avanzar en otros propósitos,
                nuevos emprendimientos, y en la misma posibilidad de que la empresa trascienda en el tiempo por cientos o miles de años.</h6>
              </p> </div> <div class="container">

                <h6 class="heading-alt">Creemos que puedes delegar efectivamente, cuándo iniciarás este reto?.</h6>
                </p> </div> <div class="container">

                      <h6 class="heading-alt">Autor: Frank Fajardo Romo. - Abril-2019 - subgerencia@iswo.com.co.
                        <div class="container">
                          <p>
                          </p>
                          </div>

              <div class="container">
                  <h6 class="heading-alt"> <i>Por favor comparte, suscribete, visita nuestras Redes Sociales, dale Me Gusta y Comenta, así nos apoyas para continuar generando contenido.</i>
              </i> <div class="container">
                        <br>
                        <div class="social social-boxed social-rounded social-gray">
                          <a class="social-facebook" href="https://www.facebook.com/frankfajardoromo/"><i class="fa fa-facebook"></i></a>
                          <a class="social-twitter" href="https://www.instagram.com/frankfajardoromo/"><i class="fa fa-instagram"></i></a>
                          <a class="social-twitter" href="https://twitter.com/FRANKFAJARDOR"><i class="fa fa-twitter"></i></a>
                          <a class="social-linkedin" href="https://co.linkedin.com/in/frankfajardoromo/en"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>

                    <br>
                    <div class="container">
                      <h6 class="heading-alt"> <i>Te invito a conocer más soluciones para tu empresa, en mis publicaciones:</i>
                      </i> <div class="container"></p>
                               <a href="blog.html"><i> - Volver al Blog CODERC</i></a></p>
                               <a href="www.frankfr.com"><i> - Mi Web </p></i></a>
                               <a href="www.researchgate.net/profile/Frank_Fajardo_Romo"><i> - Research Gate / Comunidad Cientifica</i></a></p>
                               <a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000054266"><i><p> - CvLac COLCIENCIAS</i></a></p>

                </main><p>
    <!-- END Main container -->

    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Footer
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <footer class="site-footer py-90">
      <div class="container">
        <div class="row gap-y">
          <div class="col-12 col-md-12 col-lg-5">
            <h6 class="heading-alt text-uppercase fs-14 mb-16">
              <img src="assets/img/logo2.png" alt="logo">
            </h6>
            <p class="fs-13">"Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría, formulación,
              evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles"</p>
            <br>
            <p class="text-light">Copyright © 2019 <a class="text-light" href="http://www.coderc.org">CODERC</a>. Derechos reservados.
            <br>Téls. 317 7572971 - 312888 0391 - (032)7365516 - director@coderc.org <br>Centro de Negocios Cristo Rey - Pasto / Nariño / Colombia</p>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Sitio</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="index.html">Inicio</a>
              <a class="nav-link" href="asesoria.html">Asesoría</a>
              <a class="nav-link" href="capacitacion.html">Capacitación</a>
            </div>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Compañia</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="page-about.html">CODERC</a>
              <a class="nav-link" href="blog.html">Blog</a>
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
              <a class="nav-link" href="page-privacy.html">Politica Privacidad</a>
            </div>
          </div>


          <div class="col-12 col-md-4 col-lg-3">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Suscribirme</h6>

            <form class="form-inline justify-content-center justify-content-lg-end" action="" method="post" target="_blank">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" name="EMAIL" class="form-control" placeholder="Correo Electronico">
                <span class="input-group-btn">
                  <button class="btn btn-info"><i class="fa fa-paper-plane"></i></button>
                </span>
              </div>
            </form>

            <hr>

            <div class="social text-center">
              <a class="social-facebook" href="https://www.facebook.com/ISWOSAS/"><i class="fa fa-facebook"></i></a>
            </div>
            <br>
          </div>

        </div>
      </div>
    </footer>
  </main>
  <!-- END Main container -->

    <!-- Scripts -->
    <script src="assets/js/core.min.js"></script>
    <script src="assets/js/thesaas.min.js"></script>
    <script src="assets/js/script.js"></script>

  </body>

  <div class="btn-whatsapp">
<a href="https://api.whatsapp.com/send?phone=573177572971" target="_blank">
<img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
</a>
</div>

</html>
