{% extends 'core/base.html' %}
    {% block title %}CODERC - Blog{% endblock %}



    {% block header %}
    <!-- Header -->
    <header class="header fadeout header-inverse pb-0 h-" style="background-image: linear-gradient(to bottom, #050613 70%, #AA871E 100%);">
      <canvas class="constellation"></canvas>

      <div class="container">
        <div class="row h-full">
          <div class="col-12 text-center align-self-center">
            <h1 class="fs-50 fw-600 lh-15 hidden-sm-down">¿Quieres ejecutar un Proyecto?  <span class="text-primary" data-type="Leer es la clave, los líderes leen, 10 veces más, que el promedio"></span></h1>
            <h1 class="fs-35 fw-600 lh-15 hidden-md-up">¿Quieres ejecutar un Proyecto?  <br><span class="text-primary" data-type="Leer es la clave, los líderes leen, 10 veces más, que el promedio"></span></h1>
            <br>
            <p class="fs-20 hidden-sm-down"><font size="5"><strong><i>Te compartimos </i></strong><i>las claves para la productividad y competitividad de tu comunidad...</i></font></p>
            <p class="fs-16 hidden-md-up"><font size="5"><strong><i>Te compartimos </i></strong><i>las claves para la productividad y competitividad de tu comunidad...</i></font></p>
            <br>
            <hr class="w-60 hidden-sm-down">

            <a class="btn btn-xl btn-round btn-primary fs-20 fw-500 w-350 shadow-3 hidden-sm-down" href="">Nuevos Artículos</a>
            <a class="btn btn-lg btn-round btn-primary w-250 shadow-3 hidden-md-up" href="">Nuevos Artículos</a>

            <p class="mt-2 mt-md-4"><font size="5"><i>"Los problemas que tienes ahora, alguien ya los resolvió antes, y escribió para ti"...</i></font></a></p>
          </div>

          <div class="col-12 align-self-end text-center pb-70">
            <a class="scroll-down-2 scroll-down-inverse" href="#" data-scrollto="section-demo"><span></span></a>
          </div>
        </div>
      </div>
    </header>
    <!-- END Header -->
    {% endblock %}

    {% block mainContainer %}
    {% load static %}
    <!-- Main container -->
    <main class="main-content">

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Basic cards
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray">
        <div class="container">

          <div class="card mb-30">
    <div class="row align-items-center h-full">
      <div class="col-12 col-md-4">
        <a href="blog4.html"><img src="{% static 'core/assets/img/blog-4.jpg'%}" alt="..."></a>
      </div>

      <div class="col-12 col-md-8">
        <div class="card-block">
          <h4 class="card-title">¡ Olvidate de la Productividad !</h4>
          <p class="card-text">Avanza a la Delegabilidad...
Muchos Gerentes y Emprendedores son orgullosos porque han llegado a un muy alto nivel de productividad personal, pero, a la vez se frustan porque aún no han logrado que sus trabajadores hagan lo mismo...</p>
          <a class="fw-600 fs-12" href="blog4.html">Leer más <i class="fa fa-chevron-right fs-9 pl-8"></i></a>
        </div>
      </div>
    </div>
  </div>



  <div class="card mb-30">
  <div class="row align-items-center h-full">
  <div class="col-12 col-md-4">
  <a href="blog3.html"><img src="{% static 'core/assets/img/blog-3.jpg'%}" alt="..."></a>
  </div>

  <div class="col-12 col-md-8">
  <div class="card-block">
  <h4 class="card-title">La fuerza más poderosa, según EINSTEIN, carta a su hija.</h4>
  <p class="card-text">A Lieserl Einstein.
  Cuando propuse la teoría de la relatividad, muy pocos me entendieron, y lo que te revelaré ahora para que lo transmitas a la humanidad también chocará con la incomprensión y los perjuicios del mundo...
  Albert Einstein    </p>
  <a class="fw-600 fs-12" href="blog3.html">Leer más <i class="fa fa-chevron-right fs-9 pl-8"></i></a>
  </div>
  </div>
  </div>
  </div>

    <div class="card mb-30">
            <div class="row align-items-center h-full">
              <div class="col-12 col-md-4">
                <a href="blog2.html"><img src="{% static 'core/assets/img/blog-2.jpg'%}" alt="..."></a>
              </div>

              <div class="col-12 col-md-8">
                <div class="card-block">
                  <h4 class="card-title">La Calidad NO Cuesta</h4>
                  <p class="card-text">Quizá pienses que es demasiado costoso trabajar con calidad, sin embargo es más fácil encontrar evidencias de que lo verdaderamente costoso es quebrar tu empresa.
        Si tu empresa quiebra, eso implica altos costos económicos, sociales, culturales, políticos, ambientales y personales, como lo demuestran los casos estudiados alrededor del mundo.
        El estancamiento, la pérdida de posicionamiento y la quiebra, se deben principalmente a las siguientes 7 causas:
        1. Desconocer o desatender el contexto y sus inevitables cambios...
        </p>
                  <a class="fw-600 fs-12" href="blog2.html">Leer más<i class="fa fa-chevron-right fs-9 pl-8"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-30">
            <div class="row align-items-center h-full">
              <div class="col-12 col-md-4">
                <a href="blog1.html"><img src="{% static 'core/assets/img/blog-1.jpg'%}" alt=""></a>
              </div>

              <div class="col-12 col-md-8">
                <div class="card-block">
                  <h4 class="card-title">¿Claves para SER un Gerente de Alto Rendimiento?</h4>
                  <p class="card-text">SER un Gerente de Alto Rendimiento implica cumplir metas de manera sistemática y sucesiva, y para ello es necesario seguir 5 claves que por su efectividad, las usan los líderes empresariales a nivel mundial...

</p>
                  <a class="fw-600 fs-12" href="blog1.html">Leer más <i class="fa fa-chevron-right fs-9 pl-8"></i></a>
                </div>
              </div>
            </div>
          </div>

          <nav class="flexbox mt-30">
            <a class="btn btn-white disabled"><i class="ti-arrow-left fs-9 mr-4"></i>Mira los primeros Post</a>
            <a class="btn btn-white" href="#">Mira los Nuevos Post <i class="ti-arrow-right fs-9 ml-4"></i></a>
          </nav>
<br></br>
                <div class="container">
      <h6 class="heading-alt"> <i>Por favor comparte, suscribete, visita nuestras Redes Sociales, dale Me Gusta y Comenta, así nos apoyas para continuar generando contenido.</i>
      </i> <div class="container">




    </main>
    <!-- END Main container -->
    {% endblock %}