<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CODERC - Capacitacion para el Desarrollo Empresarial y Regional de Colombia.">
    <meta name="keywords" content="CODERC - Capacitacion para el Desarrollo Empresarial y Regional de Colombia.">

    <title>CODERC | Capacitacion para el Desarrollo Empresarial y Regional de Colombia.</title>

    <!-- Styles -->
    <link href="assets/css/core.min.css" rel="stylesheet">
    <link href="assets/css/thesaas.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.png">
  </head>

  <body id="home">


    <!-- Topbar -->
    <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
      <div class="container">

        <div class="topbar-left">
          <button class="topbar-toggler">&#9776;</button>
          <a class="topbar-brand" href="index.html">
            <img class="logo-default" src="assets/img/logo.png" alt="logo">
            <img class="logo-inverse" src="assets/img/logo-md.png" alt="logo">
          </a>
        </div>


        <div class="topbar-right">
          <ul class="topbar-nav nav">
            <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>

            <li class="nav-item">
              <a class="nav-link active" href="#">Servicios <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" href="asesoria.html">Asesoria</a>
                <a class="nav-link" href="capacitacion.html">Capacitación</a>

              </div>
            </li>
<!-- Topbar
            <li class="nav-item">
              <a class="nav-link" href="#">Blocks <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu cols-2">
                <a class="nav-link" href="block-feature.html">Feature</a>
                <a class="nav-link" href="block-feature-textual.html">Textual feature</a>
                <a class="nav-link" href="block-content.html">Contenidos</a>
                <a class="nav-link" href="block-portfolio.html">Portafolios</a>
                <a class="nav-link" href="block-pricing.html">Precios</a>
                <a class="nav-link" href="block-cta.html">Call to action</a>
                <a class="nav-link" href="block-testimonial.html">Testimonios</a>
                <a class="nav-link" href="block-team.html">Equipo</a>
                <a class="nav-link" href="block-contact.html">Contactos</a>
                <a class="nav-link" href="block-signup.html">Registro</a>
                <a class="nav-link" href="block-subscribe.html">Subscribe</a>
                <a class="nav-link" href="block-partner.html">Afiliados</a>
                <a class="nav-link" href="block-topbar.html">Topbar</a>
                <a class="nav-link" href="block-footer.html">Footer</a>
              </div>
            </li>
-->
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
              <li class="nav-item">
                <a class="nav-link" href="page-about.html">CODERC</a>

            <li class="nav-item">
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Equipo CODERC <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" href="http://srv34.servidorhosting.net:2095/cpsess3065076142/webmail/paper_lantern/index.html?mailclient=horde">Ingresar</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->





    <!-- Header -->
    <header class="header header-inverse h-fullscreen pb-80" style="background-image: url(assets/img/capacitacion.jpg);">
      <div class="container text-center">

        <div class="row h-full">
          <div class="col-12 col-lg-8 offset-lg-2 align-self-center">

            <h1 class="display-1 hidden-sm-down">Capacitación</h1>
            <h1 class="fs-40 hidden-md-up">Capacitación</h1>
            <p class="fs-20 w-600 mx-auto hidden-sm-down"><b><i>“Estamos comprometidos con la reducción de la pobreza, las desigualdades y de la exclusión”.<b><i></p>
            <p class="fs-16 hidden-md-up">“Estamos comprometidos con la reducción de la pobreza, las desigualdades y de la exclusión”.</p>

            <hr class="w-80">

            <a class="btn btn-xl btn-round btn-white w-300 mr-12 hidden-sm-down" href="http://iswo.com.co/capacitacion/">Formación Virtual</a>
            <a class="btn btn-lg btn-round btn-white w-250 hidden-md-up" href="http://iswo.com.co/capacitacion/">Formación Virtual</a>
          </div>

          <div class="col-12 align-self-end text-center">
            <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-intro"><span></span></a>
          </div>

        </div>

      </div>
    </header>
    <!-- END Header -->




    <!-- Main container -->
    <main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Features
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray" id="section-features">
        <div class="container">
          <header class="section-header">
            <small>Servicios</small>
            <h2>Soluciones para tu comunidad</h2>
            <hr>
            <p class="lead">“Estamos comprometidos con la reducción de la pobreza, las desigualdades y de la exclusión”.</p>
          </header>


          <div class="row gap-5">


            <div class="col-12 col-md-4">
              <ul class="nav nav-vertical">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#tab-1">
                    <h6>Formación para el Trabajo y Desarrollo Humano</h6>
                    <p>Complementa tus competencias y habilidades profesionales en Formulación y Gerencia de Proyectos, Emprendimiento, Fortalecimiento de organizaciones
                      comunitarias, Marketing, Liderazgo, Asociatividad, Gestión de Calidad, Seguridad y Salud en el Trabajo, entre otros. </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-2">
                    <h6>Modalidades:</h6>
                    <p>
                    <ul><b>
                       <li>Seminarios</li>
                       <li>Talleres</li>
                       <li>Cursos</li>
                       <li>Diplomados</li>
                       <li>Presenciales o virtuales.</li>
                     </p>
                     </ul></b>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-3">
                    <h6>investigación</h6>
                    <p>Desarrollamos de investigaciones útiles, confiables y de manera ágil, con la participación de las comunidades y el liderazgo de personal altamente calificado
                      en las diferentes áreas del conocimiento y experiencia en investigación registrados ante COLCIENCIAS.</p>
                  </a>
                </li>
            </ul>
            </div>


            <div class="col-12 col-md-8 align-self-center">
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-1">
                  <img class="shadow-3" src="assets/img/demo/skype/LUIS.jpg" alt="...">
                </div>

                <div class="tab-pane fade" id="tab-2">
                  <img class="shadow-3" src="assets/img/demo/skype/BRC.jpg" alt="...">
                </div>

                <div class="tab-pane fade" id="tab-3">
                  <img class="shadow-3" src="assets/img/demo/skype/Inv.jpg" alt="...">
                </div>

                <div class="tab-pane fade" id="tab-4">
                  <img class="shadow-3" src="assets/img/demo/skype/tab-2.jpg" alt="...">
                </div>

              </div>
            </div>


          </div>


          <div class="text-center mt-50">
            <a class="btn btn-lg btn-primary" href="page-contact.html">Descubre Nuestros Servicios</a>
          </div>


        </div>
      </section>








      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Worldwide Adoption
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section pb-0 overflow-hidden hidden-sm-down">
        <div class="container">
          <header class="section-header">
            <small><strong>Estadisticas CODERC</strong></small>
            <h2>Experiencia a tu servicio</h2>
            <hr>
            <p class="lead">Nuestra metodología por proyectos, enfocada la comunidad y en la mejora continua, nos ha permitido acumular experiencias exitosas
              y clientes satisfechos durante más de 15 años.</p>
          </header>

          <div class="row gap-y text-center">

            <div class="col-md-4 d-flex flex-column">
              <div class="mb-60">
                <p class="text-info fs-50 mb-0">10.000+</p>
                <p>Personas Capacitadas</p>
              </div>
              <div class="px-20 mt-auto">
                <img class="shadow-4 opacity-80" src="assets/img/demo/skype/Esp1.jpg" alt="..." data-aos="slide-up" data-aos-delay="300">
              </div>
            </div>

            <div class="col-md-4 d-flex flex-column">
              <div class="mb-7">
                <span class="text-info fs-50">100+</span><br>
                <p>Proyectos</p>
              </div>
              <div class="mt-auto">
                <img class="shadow-6" src="assets/img/demo/skype/tab-2.jpg" alt="..." data-aos="slide-up">
              </div>
            </div>

            <div class="col-md-4 d-flex flex-column">
              <div class="mb-7">
                <span class="text-info fs-50">100%</span><br>
                <p>Clientes Satisfechos</p>
              </div>
              <div class="px-20 mt-auto">
                <img class="shadow-4 opacity-80" src="assets/img/demo/skype/Inv2.jpg" alt="..." data-aos="slide-up" data-aos-delay="600">
              </div>
            </div>

          </div>

        </div>
      </section>







      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Download Now
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section section-inverse" id="section-download" style="background-image: linear-gradient(to right, #0D3A7B 0%, #4689E8 100%);">
        <div class="container-fluid">
          <header class="section-header">
            <small><strong>Tu y tu comunidad LO MERECEN</strong></small>
            <h2 class="fs-45">Contáctanos</h2>
            <hr>
            <p class="lead">Nuestro COMPROMISO es APOYARTE.</p>
          </header>

          <p class="text-center">
            <a class="btn btn-lg btn-primary w-250" href="page-contact.html">Contáctanos</a><br>
      <!--      <small><a class="text-white" href="#">or download <span class="mark-border">Browser Extension</span></a></small>!-->
          </p>
        </div>
      </section>







      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | FAQ
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section" id="section-faq">
        <div class="container">
          <header class="section-header">
            <small>FAQ</small>
            <h2>Preguntas Frecuentes</h2>
            <hr>
            <p class="lead">Contáctanos sin dudar, si no puedes encontrar una respuesta a tu pregunta</p>
          </header>



          <div class="accordion" id="accordion-general">
            <div class="card">
              <h5 class="card-title">
                <a data-toggle="collapse" data-parent="#accordion-general" href="#collapse-general-1">Puedo tomar las capacitaciones en cualquier momento?</a>
              </h5>

              <div id="collapse-general-1" class="collapse in">
                <div class="card-block">
                  Podermos coordinar tiempos para apoyarte, complementa tus competencias y habilidades profesionales. PRESENCIAL Ó VIRTUAL APRENDE A TU RITMO Y DESDE CUALQUIER PARTE DEL MUNDO
                </div>
              </div>
            </div>


            <div class="card">
              <h5 class="card-title">
                <a data-toggle="collapse" data-parent="#accordion-general" href="#collapse-general-2">Puedo encontrar capacitación de Emprendimiento Efectivo y Sostenible?</a>
              </h5>

              <div id="collapse-general-2" class="collapse">
                <div class="card-block">
                  Si, apoyamos la planificación, Formulación y puesta en marcha sostenible de tu Emprendimiento, con más de 10 años de experiencias exitosas en convocatorias de financiación de proyectos.

                </div>
              </div>
            </div>


            <div class="card">
              <h5 class="card-title">
                <a data-toggle="collapse" data-parent="#accordion-general" href="#collapse-general-3">¿Qué modalidades manejan?</a>
              </h5>

              <div id="collapse-general-3" class="collapse">
                <div class="card-block">
                  Seminarios, Talleres, y Diplomados presenciales o virtuales; nos ajustamos a tus necesidades.
                </div>
              </div>
            </div>


            <div class="card">
              <h5 class="card-title">
                <a data-toggle="collapse" data-parent="#accordion-general" href="#collapse-general-4">Cuáles temas son su especialidad?</a>
              </h5>

              <div id="collapse-general-4" class="collapse">
                <div class="card-block">
                  Formulación de Proyectos, Productividad, Mercadeo, Emprendimiento, Liderazgo, Calidad, entre otros.
                </div>
              </div>
            </div>


            <div class="card">
              <h5 class="card-title">
                <a data-toggle="collapse" data-parent="#accordion-general" href="#collapse-general-5">¿Dónde puedo obtener más información rapidamente?</a>
              </h5>

              <div id="collapse-general-5" class="collapse">
                <div class="card-block">
                  317 7572971, llamanos o escribenos al WhatsApp o al correo director@coderc.org.
                </div>
              </div>
            </div>
          </div>


        </div>
      </section>




    </main>
    <!-- END Main container -->






    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Footer
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <footer class="site-footer py-90">
      <div class="container">
        <div class="row gap-y">
          <div class="col-12 col-md-12 col-lg-5">
            <h6 class="heading-alt text-uppercase fs-14 mb-16">
              <img src="assets/img/logo2.png" alt="logo">
            </h6>
            <p class="fs-13">"Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría, formulación,
              evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles"</p>
            <br>
            <p class="text-light">Copyright © 2019 <a class="text-light" href="http://www.coderc.org">CODERC</a>. Derechos reservados.
            <br>Téls. 317 7572971 - 312888 0391 - (032)7365516 - director@coderc.org <br>Centro de Negocios Cristo Rey - Pasto / Nariño / Colombia</p>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Sitio</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="index.html">Inicio</a>
              <a class="nav-link" href="asesoria.html">Asesoría</a>
              <a class="nav-link" href="capacitacion.html">Capacitación</a>
            </div>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Compañia</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="page-about.html">CODERC</a>
              <a class="nav-link" href="blog.html">Blog</a>
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
              <a class="nav-link" href="page-privacy.html">Politica Privacidad</a>
            </div>
          </div>


          <div class="col-12 col-md-4 col-lg-3">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Suscribirme</h6>

            <form class="form-inline justify-content-center justify-content-lg-end" action="" method="post" target="_blank">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" name="EMAIL" class="form-control" placeholder="Correo Electronico">
                <span class="input-group-btn">
                  <button class="btn btn-info"><i class="fa fa-paper-plane"></i></button>
                </span>
              </div>
            </form>

            <hr>

            <div class="social text-center">
              <a class="social-facebook" href="https://www.facebook.com/ISWOSAS/"><i class="fa fa-facebook"></i></a>
            </div>
            <br>
          </div>

        </div>
      </div>
    </footer>
  </main>
  <!-- END Main container -->

    <!-- Scripts -->
    <script src="assets/js/core.min.js"></script>
    <script src="assets/js/thesaas.min.js"></script>
    <script src="assets/js/script.js"></script>

  </body>

  <div class="btn-whatsapp">
<a href="https://api.whatsapp.com/send?phone=573177572971" target="_blank">
<img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
</a>
</div>

</html>
