{% extends 'core/base.html' %}

    {% block title %}CODERC - Contacto{% endblock %}


    {% block header %}
    {% load static %}
    <!-- Header -->
    <header class="header header-inverse h- pb-80" style="background-image: url({% static 'core/assets/img/contact1.jpg'%});">

      <div class="container text-center">

        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">

            <h1>Contáctanos, sin aplazamientos</h1>
            <p class="fs-20 opacity-70"><i><b>Estamos a un paso de apoyarte, sólo llamanos o escribenos...</i></b></p>

          </div>
        </div>

      </div>
    </header>
    <!-- END Header -->
    {% endblock %}



    {% block mainContainer %}
    <!-- Main container -->
    <main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Contact form
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <div class="section">
        <div class="container">

          <div class="row gap-y">
            <div class="col-12 col-md-6">

              <form action="assets/php/contact.php" method="POST" data-form="mailer">
                <div class="alert alert-success">Recibimos tu mensaje y pronto estaremos en contacto.</div>

                <div class="form-group">
                  <input class="form-control form-control-lg" type="text" name="cf_name" placeholder="Nombres">
                </div>

                <div class="form-group">
                  <input class="form-control form-control-lg" type="email" name="cf_email" placeholder="Correo Electrónico">
                </div>

                <div class="form-group">
                  <textarea class="form-control form-control-lg" name="cf_message" rows="4" placeholder="Mensaje"></textarea>
                </div>


                <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar Solicitud</button>
              </form>

            </div>


            <div class="col-12 col-md-5 offset-md-1">
              <div class="bg-grey h-full p-20">
                <b>
                <p>Contáctanos.</p>
                <p>Lunes a Sábado - 8 am a 6 pm.</p>

                  <span class="d-inline-block w-20 text-lighter" title="Phone">
                  T:</span>
                  <span class="fs-14">WhatsApp 317 7572971 - 312 888 28 28</span>
                  <div>

                  <span class="d-inline-block w-20 text-lighter" title="Phone">
                  T:</span>
                  <span class="fs-14">Oficinas (032) 7365516 </span>
                  <div>

                  <span class="d-inline-block w-20 text-lighter" title="Email">
                  E:</span>
                  <span class="fs-14">director@coderc.org</span></p>
                  <div>
                  <p class="lead">Centro de Negocios Cristo Rey
                  <br>Pasto, Nariño, Colombia</p>
                </div></b>

                  <div class="btn-whatsapp">
<a href="https://api.whatsapp.com/send?phone=573128882828" target="_blank">
  <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
  </a>
  </div>

              </div>

            </div>
          </div>


        </div>
      </div>




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Map
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.921520674959!2d-77.27837248590792!3d1.214833962334389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed485e70dc6c1%3A0x1489b3223a68a29d!2sCentro+de+negocios+Cristo+Rey!5e0!3m2!1ses-419!2sco!4v1554962806145!5m2!1ses-419!2sco" width="1900" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>






    </main>
    <!-- END Main container -->
    {% endblock %}





    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Footer
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <footer class="site-footer py-90">
      <div class="container">
        <div class="row gap-y">
          <div class="col-12 col-md-12 col-lg-5">
            <h6 class="heading-alt text-uppercase fs-14 mb-16">
              <img src="assets/img/logo2.png" alt="logo">
            </h6>
            <p class="fs-13">"Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría, formulación,
              evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles"</p>
            <br>
            <p class="text-light">Copyright © 2019 <a class="text-light" href="http://www.coderc.org">CODERC</a>. Derechos reservados.
            <br>Téls. 317 7572971 - 312888 0391 - (032)7365516 - director@coderc.org <br>Centro de Negocios Cristo Rey - Pasto / Nariño / Colombia</p>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Sitio</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="index.html">Inicio</a>
              <a class="nav-link" href="asesoria.html">Asesoría</a>
              <a class="nav-link" href="capacitacion.html">Capacitación</a>
            </div>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Compañia</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="page-about.html">CODERC</a>
              <a class="nav-link" href="blog.html">Blog</a>
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
              <a class="nav-link" href="page-privacy.html">Politica Privacidad</a>
            </div>
          </div>


          <div class="col-12 col-md-4 col-lg-3">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Suscribirme</h6>

            <form class="form-inline justify-content-center justify-content-lg-end" action="" method="post" target="_blank">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" name="EMAIL" class="form-control" placeholder="Correo Electronico">
                <span class="input-group-btn">
                  <button class="btn btn-info"><i class="fa fa-paper-plane"></i></button>
                </span>
              </div>
            </form>

            <hr>

            <div class="social text-center">
              <a class="social-facebook" href="https://www.facebook.com/ISWOSAS/"><i class="fa fa-facebook"></i></a>
            </div>
            <br>
          </div>

        </div>
      </div>
    </footer>
  </main>
  <!-- END Main container -->

    <!-- Scripts -->
    <script src="assets/js/core.min.js"></script>
    <script src="assets/js/thesaas.min.js"></script>
    <script src="assets/js/script.js"></script>

  </body>

  <div class="btn-whatsapp">
<a href="https://api.whatsapp.com/send?phone=573177572971" target="_blank">
<img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
</a>
</div>

</html>
