<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CODERC - Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría,
    formulación, evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles.">
    <meta name="keywords" content="CODERC - Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría,
    formulación, evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles.">

    <title>CODERC - Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría, formulación, evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles</title>

    <!-- Styles -->
    <link href="assets/css/core.min.css" rel="stylesheet">
    <link href="assets/css/thesaas.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.png">

    <!--  Open Graph Tags -->
    <meta property="og:title" content="coderc">
    <meta property="og:description" content="Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría, formulación, evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles">
    <meta property="og:image" content="http://coderc.org/src/assets/img/og-img.jpg">
    <meta property="og:url" content="http://coderc.org">
    <meta name="twitter:card" content="summary_large_image">
  </head>

  <body>


    <!-- Topbar -->
    <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
      <div class="container">

        <div class="topbar-left">
          <button class="topbar-toggler">&#9776;</button>
          <a class="topbar-brand" href="index.html">
            <img class="logo-default" src="assets/img/logo.png" alt="logo">
            <img class="logo-inverse" src="assets/img/logo-md.png" alt="logo">
          </a>
        </div>


        <div class="topbar-right">
          <ul class="topbar-nav nav">
            <li class="nav-item"><a class="nav-link active" href="index.html">Inicio</a></li>

            <li class="nav-item">
              <a class="nav-link" href="#">Servicios <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" href="asesoria.html">Asesoria</a>
                <a class="nav-link" href="capacitacion.html">Capacitación</a>
                </div>
            </li>
<!-- Topbar
            <li class="nav-item">
              <a class="nav-link" href="#">Blocks <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu cols-2">
                <a class="nav-link" href="block-feature.html">Feature</a>
                <a class="nav-link" href="block-feature-textual.html">Textual feature</a>
                <a class="nav-link" href="block-content.html">Contenidos</a>
                <a class="nav-link" href="block-portfolio.html">Portafolios</a>
                <a class="nav-link" href="block-pricing.html">Precios</a>
                <a class="nav-link" href="block-cta.html">Call to action</a>
                <a class="nav-link" href="block-testimonial.html">Testimonios</a>
                <a class="nav-link" href="block-team.html">Equipo</a>
                <a class="nav-link" href="block-contact.html">Contactos</a>
                <a class="nav-link" href="block-signup.html">Registro</a>
                <a class="nav-link" href="block-subscribe.html">Subscribe</a>
                <a class="nav-link" href="block-partner.html">Afiliados</a>
                <a class="nav-link" href="block-topbar.html">Topbar</a>
                <a class="nav-link" href="block-footer.html">Footer</a>
              </div>
            </li>
-->
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
              <li class="nav-item">
                <a class="nav-link" href="page-about.html">CODERC</a>

            <li class="nav-item">
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Equipo CODERC <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" href="http://srv34.servidorhosting.net:2095/cpsess3065076142/webmail/paper_lantern/index.html?mailclient=horde">Ingresar</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->

    <!-- Header -->
    <header class="header fadeout header-inverse pb-0 h-fullscreen" style="background-image: linear-gradient(to bottom, #2750A2 65%, #EBF1F5 100%);">
      <canvas class="constellation"></canvas>

      <div class="container">
        <div class="row h-full">
          <div class="col-12 text-center align-self-center">
            <h1 class="fs-50 fw-600 lh-15 hidden-sm-down">CODERC <span class="text-primary" data-type="Impulsamos el desarrollo económico, social, tecnológico, ambiental,
              y cultural de Colombia, mediante la gestión, asesoría, formulación, evaluación y el liderazgo, efectivo de proyectos, y planes de negocio sostenibles."></span></h1>
            <h1 class="fs-35 fw-600 lh-15 hidden-md-up">CODERC <br><span class="text-primary" data-type="Impulsamos el desarrollo económico, social, tecnológico, ambiental,
              y cultural de Colombia, mediante la gestión, asesoría, formulación, evaluación y el liderazgo, efectivo de proyectos, y planes de negocio sostenibles."></span></h1>
            <br>
            <p class="fs-20 hidden-sm-down"><strong>Impulsamos </strong>  el desarrollo económico, social, tecnológico, ambiental y cultural de Colombia.

            <p class="fs-16 hidden-md-up"><strong>Impulsamos </strong> el desarrollo económico, social, tecnológico, ambiental y cultural de Colombia.

            <br>
            <br>
            <p class="fs-20 hidden-sm-down"><strong>Mediante </strong> la gestión, asesoría, formulación, evaluación y el liderazgo, efectivo de proyectos, y planes de negocio sostenibles.</p>
            <p class="fs-16 hidden-md-up"><strong>Mediante </strong> la gestión, asesoría, formulación, evaluación y el liderazgo, efectivo de proyectos, y planes de negocio sostenibles.</p>
            <br>
            <hr class="w-60 hidden-sm-down">

            <a class="btn btn-xl btn-round btn-primary fs-20 fw-500 w-350 shadow-3 hidden-sm-down" href="page-about.html">Conoce Más</a>
            <a class="btn btn-lg btn-round btn-primary w-250 shadow-3 hidden-md-up" href="page-about.html">Conoce Más</a>
            <br>
              <p class="mt-2 mt-md-4"><font size="5"><i>"¿Buscas Soluciones? Conoce nuestros servicios</i></font></a></p>
        </div>

          <div class="col-12 align-self-end text-center pb-70">
            <a class="scroll-down-2 scroll-down-inverse" href="#" data-scrollto="section-demo"><span></span></a>
          </div>
        </div>
      </div>
    </header>
    <!-- END Header -->




    <!-- Main container -->
    <main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Sample Landing Pages
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section overflow-hidden" id="section-demo">
        <div class="container">
          <header class="section-header">
            <small>Soluciones CODERC</small>
            <h2>Servicios CODERC</h2>
            <hr>
            <p class="lead"><b>Para mejorar la calidad de vida de familias en condición de vulnerabilidad, con criterios de economía solidaria y comercio justo, brindamos servicios de:
            </b></p>
          </header>


          <div class="row gap-y text-center">

            <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="150">
              <p><a href="asesoria.html"><img class="shadow-2 hover-shadow-5" src="assets/img/asesoria1.jpg" alt="demo bootstrap landing"></a></p>
              <p><strong>Asesoría, consultoría, formulación, gestión, ejecución y evaluación de proyectos y planes de negocio, que impulsen el desarrollo social,
                tecnológico, ambiental, y cultural de Colombia.</strong></p>
            </div>


            <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <p><a href="capacitacion.html"><img class="shadow-2 hover-shadow-5" src="assets/img/capacitacion2.jpg" alt="demo app landing"></a></p>
            <p><strong>Formación para el Trabajo y Desarrollo Humano. Conoce las mejores opciones para ti.</strong></p>
            </div>

            <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <p><a href="blog.html"><img class="shadow-2 hover-shadow-5" src="assets/img/blog1.jpg" alt="demo app landing"></a></p>
            <p><strong>Blog - Compartimos información para formular y ejecutar proyectos sostenibles.</strong></p>
            </div>

            <header class="section-header">
              <small>VALORES CODERC</small>
              <h2>Fundamentados en valores impulsamos el desarrollo social:</h2>

            <p class="lead">
            <b><I><i>
            <ol>
            <li value="1"><p align="left">Amor por el desarrollo social y económico.
            <li><p align="left">Profesionalismo en la gestión de proyectos.
            <li><b><p align="left">Rigurosidad en el cumplimiento de objetivos.
            </b></i></I>
            <br><br><b><i><I>
              Con amor, profesionalismo, rigurosidad y experticia apoyamos el cumplimiento de los planes, programas, proyectos y objetivos de desarrollo, liderados por las ONG´s y entidades públicas.
            </b></i></I><p>
            </header class="section-header">

                  <header class="section-header">
              <small>RAZONES PARA TRABAJAR CON CODERC</small>
              <h2>7 Razones para trabajar con CODERC:</h2>

          <p class="lead">
          <b><I><i>
          <ol>
          <li value="1"><p align="left">Amamos servir a la comunidad con responsabilidad y honradez.
          <li><p align="left">Contamos con amplia experiencia en el trabajo con comunidades vulnerables.
          <li><p align="left">Cumplimos objetivos y entregamos resultados de manera clara, organizada y oportuna.
          <li><p align="left">Entregamos Informes financieros transparentes, completos y soportados.
          <li><p align="left">Trabajamos bajo un Sistema de Gestión de Calidad implementado con proyección a la certificación ISO 9001.
          <li><p align="left">Ejecutamos procesos de formación efectivos, aplicando metodologías innovadoras, adaptadas y validadas en proyectos comunitarios.
          <li><p align="left">Aportamos a la cooperación y resolución de conflictos en las comunidades, con profesionalismo y sentido humano.
          <b>
          </b></i></I>
        </header class="section-header">
                 <a href="page-contact.html"><i><p style="color:#467FD8";><p align="left"><u>Programemos una reunión gratuita</u></p></i></a>



  <!--          <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
              <p><a href="demo-github.html"><img class="shadow-2 hover-shadow-5" src="assets/img/demo-github-sm.jpg" alt="demo github landing"></a></p>
              <p><strong>3d Realidad Aumentada</strong></p>
            </div>


            <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="150">
              <p><a href="demo-helpato.html"><img class="shadow-2 hover-shadow-5" src="assets/img/demo-helpato-sm.jpg" alt="demo helpato landing"></a></p>
              <p><strong>Soporte Técnico informático - Outsourcing para Empresas</strong></p>
            </div>


            <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
              <p><a href="demo-gmail.html"><img class="shadow-2 hover-shadow-5" src="assets/img/demo-gmail-sm.jpg" alt="demo helpato landing"></a></p>
              <p><strong>Posicionamiento Seo/Sem</strong></p>
            </div>


          </div>

!-->
        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Partner 5
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section" style="background-color: #F9F9F9">
        <div class="container">
          <header class="section-header">
            <h2>Clientes CODERC</h2>
            <hr>
            <p class="lead"><b>La mejor carta de presentación es la Satisfacción de nuestros Clientes.</b></p>
          </header>


          <div class="swiper-container partner" data-autoplay="1000" data-slides-per-view="4">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/img/partner-1.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-2.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-3.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-4.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-5.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-6.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-7.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-8.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-10.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-11.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-12.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-13.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-18.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-19.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-20.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-21.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-24.png" alt="..."></div>
              <div class="swiper-slide"><img src="assets/img/partner-14.png" alt="..."></div>
            </div>

            <div class="swiper-pagination"></div>
          </div>

        </div>
      </section>







    </main>
    <!-- END Main container -->

    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Footer
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <footer class="site-footer py-90">
      <div class="container">
        <div class="row gap-y">
          <div class="col-12 col-md-12 col-lg-5">
            <h6 class="heading-alt text-uppercase fs-14 mb-16">
              <img src="assets/img/logo2.png" alt="logo">
            </h6>
            <p class="fs-13">"Impulsamos el desarrollo económico, social, tecnológico, ambiental, y cultural de Colombia, mediante la gestión, asesoría, formulación,
              evaluación y el liderazgo efectivo de proyectos y planes de negocio sostenibles"</p>
            <br>
            <p class="text-light">Copyright © 2019 <a class="text-light" href="http://www.coderc.org">CODERC</a>. Derechos reservados.
            <br>Téls. 317 7572971 - 312888 0391 - (032)7365516 - director@coderc.org <br>Centro de Negocios Cristo Rey - Pasto / Nariño / Colombia</p>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Sitio</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="index.html">Inicio</a>
              <a class="nav-link" href="asesoria.html">Asesoría</a>
              <a class="nav-link" href="capacitacion.html">Capacitación</a>
            </div>
          </div>

          <div class="col-6 col-md-4 col-lg-2">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Compañia</h6>
            <div class="nav flex-column">
              <a class="nav-link" href="page-about.html">CODERC</a>
              <a class="nav-link" href="blog.html">Blog</a>
              <a class="nav-link" href="page-contact.html">Contáctanos</a>
              <a class="nav-link" href="page-privacy.html">Politica Privacidad</a>
            </div>
          </div>


          <div class="col-12 col-md-4 col-lg-3">
            <h6 class="heading-alt text-uppercase fs-14 mb-3">Suscribirme</h6>

            <form class="form-inline justify-content-center justify-content-lg-end" action="" method="post" target="_blank">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" name="EMAIL" class="form-control" placeholder="Correo Electronico">
                <span class="input-group-btn">
                  <button class="btn btn-info"><i class="fa fa-paper-plane"></i></button>
                </span>
              </div>
            </form>

            <hr>

            <div class="social text-center">
              <a class="social-facebook" href="https://www.facebook.com/ISWOSAS/"><i class="fa fa-facebook"></i></a>
            </div>
            <br>
          </div>

        </div>
      </div>
    </footer>
  </main>
  <!-- END Main container -->

    <!-- Scripts -->
    <script src="assets/js/core.min.js"></script>
    <script src="assets/js/thesaas.min.js"></script>
    <script src="assets/js/script.js"></script>

  </body>

  <div class="btn-whatsapp">
<a href="https://api.whatsapp.com/send?phone=573177572971" target="_blank">
<img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
</a>
</div>

</html>
